{
  "openapi": "3.1.0",
  "info": {
    "title": "Photo API",
    "description": "Manage photos within a photo folder",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.shootstack.com/v3/app-client"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/photos": {
      "get": {
        "operationId": "listPhotos",
        "summary": "List photos",
        "description": "Retrieve a paginated list of photos in a [photo folder](/api-reference/photo-folder/overview). Requires `photo_folder_id` as a query parameter.",
        "x-mint": {
          "title": "List photos"
        },
        "tags": ["Photo"],
        "parameters": [
          {
            "name": "photo_folder_id",
            "in": "query",
            "required": true,
            "description": "The photo folder ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination.",
            "schema": {
              "type": "integer",
              "example": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results per page.",
            "schema": {
              "type": "integer",
              "example": 20
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Field to sort photos by.",
            "schema": {
              "type": "string",
              "enum": ["name", "creationDate"]
            }
          },
          {
            "name": "sort_order",
            "in": "query",
            "description": "Sort direction.",
            "schema": {
              "type": "string",
              "enum": ["asc", "desc"]
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Filter photos by filename.",
            "schema": {
              "type": "string",
              "maxLength": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Photo list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PhotoBasic"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "id": "807f1f77bcf86cd799439014",
                      "sourceKey": "workspaces/ws123/photos/807f1f77bcf86cd799439014.jpg",
                      "status": "success",
                      "name": "DSC_0421.jpg",
                      "contentType": "image/jpeg",
                      "width": 6000,
                      "height": 4000,
                      "size": 8388608,
                      "webWidth": 2048,
                      "webHeight": 1365,
                      "webSize": 524288,
                      "creationDate": "2026-01-15T14:30:00.000Z",
                      "uploadDate": "2026-01-20T09:00:00.000Z"
                    }
                  ],
                  "pagination": {
                    "totalDocs": 120,
                    "totalPages": 6,
                    "page": 1,
                    "limit": 20,
                    "hasNextPage": true,
                    "hasPrevPage": false
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
    },
    "/photos/{photo_id}": {
      "get": {
        "operationId": "getPhoto",
        "summary": "Retrieve photo",
        "description": "Retrieve a single photo with its EXIF data and adjacent photos for navigation.",
        "x-mint": {
          "title": "Retrieve photo"
        },
        "tags": ["Photo"],
        "parameters": [
          {
            "name": "photo_id",
            "in": "path",
            "required": true,
            "description": "The photo ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Photo object with adjacent photos",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "photo": {
                          "$ref": "#/components/schemas/Photo"
                        },
                        "previousPhoto": {
                          "oneOf": [
                            { "$ref": "#/components/schemas/Photo" },
                            { "type": "null" }
                          ]
                        },
                        "nextPhoto": {
                          "oneOf": [
                            { "$ref": "#/components/schemas/Photo" },
                            { "type": "null" }
                          ]
                        }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "photo": {
                      "id": "807f1f77bcf86cd799439014",
                      "sourceKey": "workspaces/ws123/photos/807f1f77bcf86cd799439014.jpg",
                      "status": "success",
                      "name": "DSC_0421.jpg",
                      "contentType": "image/jpeg",
                      "width": 6000,
                      "height": 4000,
                      "size": 8388608,
                      "webWidth": 2048,
                      "webHeight": 1365,
                      "webSize": 524288,
                      "creationDate": "2026-01-15T14:30:00.000Z",
                      "uploadDate": "2026-01-20T09:00:00.000Z",
                      "exif": {
                        "image": {
                          "colorSpace": "sRGB",
                          "resolution": "6000x4000"
                        },
                        "camera": {
                          "make": "Canon",
                          "model": "EOS R5"
                        },
                        "exposure": {
                          "aperture": "f/2.8",
                          "shutterSpeed": "1/200",
                          "iso": "400"
                        },
                        "lens": {
                          "focalLength": "70mm",
                          "focalLength35mm": "70mm",
                          "model": "RF 70-200mm F2.8 L IS USM"
                        }
                      }
                    },
                    "previousPhoto": null,
                    "nextPhoto": {
                      "id": "807f1f77bcf86cd799439015",
                      "sourceKey": "workspaces/ws123/photos/807f1f77bcf86cd799439015.jpg",
                      "status": "success",
                      "name": "DSC_0422.jpg",
                      "contentType": "image/jpeg",
                      "width": 6000,
                      "height": 4000,
                      "size": 7340032,
                      "webWidth": 2048,
                      "webHeight": 1365,
                      "webSize": 491520,
                      "creationDate": "2026-01-15T14:31:00.000Z",
                      "uploadDate": "2026-01-20T09:00:00.000Z",
                      "exif": {
                        "image": {
                          "colorSpace": "sRGB",
                          "resolution": "6000x4000"
                        },
                        "camera": {
                          "make": "Canon",
                          "model": "EOS R5"
                        },
                        "exposure": {
                          "aperture": "f/2.8",
                          "shutterSpeed": "1/250",
                          "iso": "400"
                        },
                        "lens": {
                          "focalLength": "70mm",
                          "focalLength35mm": "70mm",
                          "model": "RF 70-200mm F2.8 L IS USM"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "operationId": "deletePhoto",
        "summary": "Delete photo",
        "description": "Delete a single photo.",
        "x-mint": {
          "title": "Delete photo"
        },
        "tags": ["Photo"],
        "parameters": [
          {
            "name": "photo_id",
            "in": "path",
            "required": true,
            "description": "The photo ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Photo deleted successfully"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/photos/upload": {
      "post": {
        "operationId": "createUpload",
        "summary": "Create upload",
        "description": "Create a batch upload for photos. Returns a pre-signed upload URL and fields for S3 multipart upload, along with the processing status of each file.\n\nReturns `409 Conflict` if the target photo folder's photo limit (2,500) or sorting photo limit (500 for manually sorted folders) would be exceeded.",
        "x-mint": {
          "title": "Create upload"
        },
        "tags": ["Photo"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["photo_folder_id", "upload_duplicate", "files"],
                "properties": {
                  "photo_folder_id": {
                    "type": "string",
                    "description": "The photo folder ID to upload photos to."
                  },
                  "upload_duplicate": {
                    "type": "string",
                    "description": "How to handle duplicate filenames.",
                    "enum": ["skip", "replace"]
                  },
                  "files": {
                    "type": "array",
                    "description": "List of files to upload.",
                    "minItems": 1,
                    "maxItems": 50,
                    "items": {
                      "type": "object",
                      "required": ["name", "content_type", "size"],
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "Original filename.",
                          "maxLength": 100,
                          "example": "DSC_0421.jpg"
                        },
                        "content_type": {
                          "type": "string",
                          "description": "MIME type of the photo.",
                          "enum": ["image/jpeg", "image/png", "image/webp", "image/gif"],
                          "example": "image/jpeg"
                        },
                        "size": {
                          "type": "integer",
                          "description": "File size in bytes.",
                          "minimum": 1,
                          "maximum": 100000000,
                          "example": 8388608
                        }
                      }
                    }
                  }
                }
              },
              "example": {
                "photo_folder_id": "607f1f77bcf86cd799439012",
                "upload_duplicate": "skip",
                "files": [
                  {
                    "name": "DSC_0421.jpg",
                    "content_type": "image/jpeg",
                    "size": 8388608
                  },
                  {
                    "name": "DSC_0422.jpg",
                    "content_type": "image/jpeg",
                    "size": 7340032
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Upload URL and file processing results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/UploadResult"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "uploadUrl": "https://s3.amazonaws.com/bucket",
                    "fields": {
                      "Policy": "eyJ...",
                      "X-Amz-Algorithm": "AWS4-HMAC-SHA256",
                      "X-Amz-Credential": "AKIA.../us-east-1/s3/aws4_request",
                      "X-Amz-Date": "20260217T090000Z",
                      "X-Amz-Signature": "abc123..."
                    },
                    "files": [
                      {
                        "name": "DSC_0421.jpg",
                        "sourceKey": "workspaces/ws123/photos/807f1f77bcf86cd799439014.jpg",
                        "skip": false,
                        "replace": false
                      },
                      {
                        "name": "DSC_0422.jpg",
                        "sourceKey": "workspaces/ws123/photos/807f1f77bcf86cd799439015.jpg",
                        "skip": false,
                        "replace": false
                      }
                    ],
                    "photos": [
                      {
                        "id": "807f1f77bcf86cd799439014",
                        "sourceKey": "workspaces/ws123/photos/807f1f77bcf86cd799439014.jpg",
                        "status": "no_status",
                        "name": "DSC_0421.jpg",
                        "contentType": "image/jpeg",
                        "width": null,
                        "height": null,
                        "size": 8388608,
                        "webWidth": null,
                        "webHeight": null,
                        "webSize": null,
                        "creationDate": null,
                        "uploadDate": "2026-02-17T09:00:00.000Z"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          }
        }
      }
    },
    "/photos/{photo_id}/download": {
      "post": {
        "operationId": "createDownload",
        "summary": "Create download",
        "description": "Generate a pre-signed download URL for a photo. Choose between the original or web-optimized version.",
        "x-mint": {
          "title": "Create download"
        },
        "tags": ["Photo"],
        "parameters": [
          {
            "name": "photo_id",
            "in": "path",
            "required": true,
            "description": "The photo ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["download_type"],
                "properties": {
                  "download_type": {
                    "type": "string",
                    "description": "The version to download.",
                    "enum": ["original", "web"]
                  }
                }
              },
              "example": {
                "download_type": "original"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Download URL",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "downloadUrl": {
                          "type": "string",
                          "description": "Pre-signed URL to download the photo."
                        }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "downloadUrl": "https://s3.amazonaws.com/bucket/workspaces/ws123/photos/807f1f77bcf86cd799439014.jpg?X-Amz-Signature=..."
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Photo": {
        "type": "object",
        "description": "Full photo object with EXIF data, returned by the retrieve endpoint.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the photo."
          },
          "sourceKey": {
            "type": "string",
            "description": "Storage key for the original photo."
          },
          "status": {
            "type": "string",
            "enum": ["no_status", "success", "failed"],
            "description": "Processing status of the photo."
          },
          "name": {
            "type": "string",
            "description": "Original filename."
          },
          "contentType": {
            "type": "string",
            "description": "MIME type of the photo."
          },
          "width": {
            "type": "integer",
            "description": "Original image width in pixels."
          },
          "height": {
            "type": "integer",
            "description": "Original image height in pixels."
          },
          "size": {
            "type": "integer",
            "description": "Original file size in bytes."
          },
          "webWidth": {
            "type": "integer",
            "description": "Web-optimized image width in pixels."
          },
          "webHeight": {
            "type": "integer",
            "description": "Web-optimized image height in pixels."
          },
          "webSize": {
            "type": "integer",
            "description": "Web-optimized file size in bytes."
          },
          "creationDate": {
            "type": "string",
            "format": "date-time",
            "description": "Photo creation date from EXIF data."
          },
          "uploadDate": {
            "type": "string",
            "format": "date-time",
            "description": "Date the photo was uploaded."
          },
          "exif": {
            "$ref": "#/components/schemas/Exif"
          }
        }
      },
      "PhotoBasic": {
        "type": "object",
        "description": "Photo object without EXIF data, returned by list and upload endpoints.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the photo."
          },
          "sourceKey": {
            "type": "string",
            "description": "Storage key for the original photo."
          },
          "status": {
            "type": "string",
            "enum": ["no_status", "success", "failed"],
            "description": "Processing status of the photo."
          },
          "name": {
            "type": "string",
            "description": "Original filename."
          },
          "contentType": {
            "type": "string",
            "description": "MIME type of the photo."
          },
          "width": {
            "type": "integer",
            "description": "Original image width in pixels."
          },
          "height": {
            "type": "integer",
            "description": "Original image height in pixels."
          },
          "size": {
            "type": "integer",
            "description": "Original file size in bytes."
          },
          "webWidth": {
            "type": "integer",
            "description": "Web-optimized image width in pixels."
          },
          "webHeight": {
            "type": "integer",
            "description": "Web-optimized image height in pixels."
          },
          "webSize": {
            "type": "integer",
            "description": "Web-optimized file size in bytes."
          },
          "creationDate": {
            "type": "string",
            "format": "date-time",
            "description": "Photo creation date from EXIF data."
          },
          "uploadDate": {
            "type": "string",
            "format": "date-time",
            "description": "Date the photo was uploaded."
          }
        }
      },
      "Exif": {
        "type": "object",
        "description": "EXIF metadata extracted from the photo.",
        "properties": {
          "image": {
            "type": "object",
            "properties": {
              "colorSpace": {
                "type": "string",
                "description": "Color space of the image."
              },
              "resolution": {
                "type": "string",
                "description": "Image resolution as WxH string."
              }
            }
          },
          "camera": {
            "type": "object",
            "properties": {
              "make": {
                "type": "string",
                "description": "Camera manufacturer."
              },
              "model": {
                "type": "string",
                "description": "Camera model."
              }
            }
          },
          "exposure": {
            "type": "object",
            "properties": {
              "aperture": {
                "type": "string",
                "description": "Aperture value."
              },
              "shutterSpeed": {
                "type": "string",
                "description": "Shutter speed."
              },
              "iso": {
                "type": "string",
                "description": "ISO sensitivity."
              }
            }
          },
          "lens": {
            "type": "object",
            "properties": {
              "focalLength": {
                "type": "string",
                "description": "Focal length."
              },
              "focalLength35mm": {
                "type": "string",
                "description": "35mm equivalent focal length."
              },
              "model": {
                "type": "string",
                "description": "Lens model."
              }
            }
          }
        }
      },
      "UploadResult": {
        "type": "object",
        "description": "Upload response with pre-signed URL and file processing results.",
        "properties": {
          "uploadUrl": {
            "type": "string",
            "description": "Pre-signed S3 upload URL."
          },
          "fields": {
            "type": "object",
            "description": "Form fields required for the S3 multipart upload.",
            "additionalProperties": {
              "type": "string"
            }
          },
          "files": {
            "type": "array",
            "description": "Processing status for each file in the upload batch.",
            "items": {
              "$ref": "#/components/schemas/UploadFile"
            }
          },
          "photos": {
            "type": "array",
            "description": "Created photo records.",
            "items": {
              "$ref": "#/components/schemas/PhotoBasic"
            }
          }
        }
      },
      "UploadFile": {
        "type": "object",
        "description": "Processing result for a single file in an upload batch.",
        "properties": {
          "name": {
            "type": "string",
            "description": "Original filename."
          },
          "sourceKey": {
            "type": "string",
            "description": "Storage key assigned to the file."
          },
          "skip": {
            "type": "boolean",
            "description": "Whether this file was skipped due to duplicate handling."
          },
          "replace": {
            "type": "boolean",
            "description": "Whether this file replaces an existing photo."
          }
        }
      },
      "Pagination": {
        "type": "object",
        "description": "Pagination metadata.",
        "properties": {
          "totalDocs": {
            "type": "integer",
            "description": "Total number of documents."
          },
          "totalPages": {
            "type": "integer",
            "description": "Total number of pages."
          },
          "page": {
            "type": "integer",
            "description": "Current page number."
          },
          "limit": {
            "type": "integer",
            "description": "Number of results per page."
          },
          "hasNextPage": {
            "type": "boolean",
            "description": "Whether there is a next page."
          },
          "hasPrevPage": {
            "type": "boolean",
            "description": "Whether there is a previous page."
          }
        }
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Authentication required",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": false
                },
                "error": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "UNAUTHORIZED"
                    },
                    "message": {
                      "type": "string",
                      "example": "Authentication required"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "BadRequest": {
        "description": "Invalid request",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": false
                },
                "error": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "BAD_REQUEST"
                    },
                    "message": {
                      "type": "string",
                      "example": "Validation failed"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": false
                },
                "error": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "NOT_FOUND"
                    },
                    "message": {
                      "type": "string",
                      "example": "Resource not found"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "Conflict": {
        "description": "Resource conflict",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": false
                },
                "error": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "CONFLICT"
                    },
                    "message": {
                      "type": "string",
                      "example": "Resource limit exceeded"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Authentication via Clerk session token"
      }
    }
  }
}